body, html {
    padding: 0;
    margin: 0;
}

.header {
    background: #1F2937;
    color: white;
    padding: 20px;
}

.first-line {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.img-holder {
    background-color: rgb(139, 132, 132);
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-me-up {
    background-color: #3882F6;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 80px;
}

.card {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.grey-section {
    margin-top: 50px;
    background-color: #E5E7EB;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.grey-section p {
    width: 700px;
}

.cta-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action {
    margin-top: 50px;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    width: 1200px;
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 50px;
}

.cta-sentences {
    display: flex;
    flex-direction: column;
}

.cta-sentences p {
    margin-top: -20px;
}

.cta-button {
    background-color: #3882F6;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    width: 100px;
    flex: 0.5;   
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: #1F2937;
    color: white;
    height: 100px;
}